.todoListItem {
  margin: 5px 0;
  padding: 10px 10px 10px 10px;
  border-radius: 6px;
  display: block;
  border: 1px solid #494d4c;
  list-style: none;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todoListItem > button {
  padding: 0 5px;
  background: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: rgb(80, 75, 75);
  line-height: 28px;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
.todoListItem > button:focus {
  padding: 0 3px;
  border: 2px solid rgba(0, 0, 255, 0.349);
}
.todoListItem > button:hover {
  cursor: pointer;
}

.todoListItemDone > button {
  text-decoration: line-through;
}
.todoListItemImportant > button {
  color: blue;
}