.body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "header"
    "main"
    "footer";
}

.header {
  grid-area: header;
  padding: 10px 10px;
}
.main {
  grid-area: main;
  padding: 10px 15px;
}
.footer {
  grid-area: footer;
  padding: 10px 10px;
}
@media(min-width: 1024px) {
  .main {
    padding: 0 180px;
  }
}
@media(min-width: 768px) {
  .footer, .header {
    padding: 10px 70px;
  }
  .main {
    padding: 0 100px;
  }
}
@media(max-width: 425px) {
  .footer, .header {
    padding: 5px 10px;
  }
}


