.header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-template-areas: 
    "headerTitle headerStatistics headerStatistics"
    "enterPanel enterPanel enterButtons";
}

.headerTitle {
  grid-area: headerTitle;
}
.headerStatistics {
  grid-area: headerStatistics;
}
.enterPanel {
  grid-area: enterPanel;
}
.enterButtons {
  grid-area: enterButtons;
}